body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
    position: relative;
}

.wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.wrap:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;

}

.form {
    display: inline-block;
    vertical-align: middle;
    
}
.input{
width: 400px;

}